<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <!-- Brand -->
  

  <!-- Links -->
  <ul class="nav justify-content-center">
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/books">Books</a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/order-list">Order List</a>
    </li>
  </ul>
    <!-- <li class="nav-item">
      <a class="nav-link" (click)="onSaveData()">Save data</a>
    </li>
  </ul>

  <ul class="nav navbar-nav navbar-right">
    <ng-template [ngIf]="!authService.isAuthenticated()">
    <li class="nav-item">
        <a style ="cursor:pointer;" class="nav-link" (click)="onFetchData()">Fetch data</a>
    </li>
     <li class="nav-item"><a routerLink="/signup">Register</a></li>
    </ng-template>
    <li><a style="cursor: pointer;" (click)="onLogout()"
      *ngIf="authService.isAuthenticated()">Logout</a></li>
    </ul> -->
</nav>

